<footer class="rodape">
    <nav class="navbar navbar-dark bg-onechef02 navrodape">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <h1>Contato</h1>

                        <a href="mailto:contato@onechef@gmail.com">

                            <p>contato@onechef@gmail.com</p>
                        </a>

                        <p>(14) 99696-9996</p>
                    </div>

                    <div class="col-md">
                        <h1>Institucional</h1>

                        <a routerLink="/quem-somos">
                            <p>
                                Quem Somos?
                            </p>
                        </a>
                    </div>

                    <div class="col-md social-media justify-content-end">
                        <a href="https://www.facebook.com/eteccidadedolivro" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a href="https://www.instagram.com/eteccidadedolivro/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</footer>
