<nav class="navbar navbar-dark bg-onechef02 fixed-bottom rodape">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h1>Contato</h1>
                    <p>contato@onechef@gmail.com</p>
                    <p>(14) 99696-9996</p>
                </div>

                <div class="col-md">
                    <h1>Institucional</h1>
                    <p>Política e Privacidade</p>
                    <p>Quem Somos?</p>
                </div>

                <div class="col-md social-media">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>