<section class="">

  <div class="centro">
    <h1>SALGADOS</h1>
    <p>Tradicionais receitas salgadas da família Furlan</p>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="card">
        <img src="assets/imgs/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Pizza de Pepperoni</h1>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card">
        <img src="assets/imgs/pizza.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Pizza de Pepperoni</h1>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card">
        <img src="assets/imgs/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Pizza de Pepperoni</h1>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
