<section class="">

  <div class="centro">
    <h1>SALGADOS</h1>
    <p>Tradicionais receitas salgadas da família Furlan</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="assets/imgs/receitas/pizza-pepperoni/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Pizza de Pepperoni</h1>
            <p>5<i class="fas fa-star"></i></p>
          </div>
          <p class="card-text text-muted nowrap">
            Deliciosa pizza de pepperoni da família Furlan
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/imgs/receitas/pizza-pepperoni/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Pizza de Pepperoni</h1>
            <p>5<i class="fas fa-star"></i></p>
          </div>
          <p class="card-text text-muted nowrap">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/imgs/receitas/pizza-pepperoni/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Pizza de Pepperoni</h1>
            <p>5<i class="fas fa-star"></i></p>
          </div>
          <p class="card-text text-muted nowrap">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="assets/imgs/receitas/pizza-pepperoni/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Pizza de Pepperoni</h1>
            <p>5<i class="fas fa-star"></i></p>
          </div>
          <p class="card-text text-muted nowrap">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/imgs/receitas/pizza-pepperoni/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Pizza de Pepperoni</h1>
            <p>5<i class="fas fa-star"></i></p>
          </div>
          <p class="card-text text-muted nowrap">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/imgs/receitas/pizza-pepperoni/pizza-pepperoni.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Pizza de Pepperoni</h1>
            <p>5<i class="fas fa-star"></i></p>
          </div>
          <p class="card-text text-muted nowrap">
            Some quick example text to build on the card title and make up the bulk of the card'scontent.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
