<div class="row">
  <div class="col-md-6 coluna" *ngIf="receitas">
    <img style="width: 100%; border-radius: 10px;" [src]="receitas?.imagem_secundaria" alt="Imagem da receita">
  </div>
  <div class="col-md-6 coluna">
    <app-ingredientes></app-ingredientes>
  </div>
</div>

<div class="row detalhes-receita">
  <div class="col-md-6 coluna">
    <app-modo-preparo></app-modo-preparo>
  </div>

  <div class="col-md-6 coluna" *ngIf="receitas">
    <img style="width: 100%; border-radius: 10px;" [src]="receitas?.imagem_terciaria" alt="Imagem da receita">
  </div>
</div>
