<div class="row">
  <div class="col-md-6 coluna">
    <img style="width: 100%; border-radius: 10px;" src="assets/imgs/receitas/strogonoff-frango/strogonoff-frango02.png"
      alt="Imagem da receita">
  </div>
  <div class="col-md-6 coluna">
    <span class="centro">
      <h1>Strogonoff de frango</h1>
    </span>

    <app-ingredientes></app-ingredientes>
  </div>
</div>

<div class="row detalhes-receita">
  <div class="col-md-6 coluna">
    <app-modo-preparo></app-modo-preparo>
  </div>

  <div class="col-md-6 coluna">
    <img style="width: 100%; border-radius: 10px;" src="assets/imgs/receitas/strogonoff-frango/strogonoff-frango03.png"
      alt="">
  </div>
</div>
