<section>
  <span class="centro">
    <h1>
      Receita
    </h1>
    <p>Delicioso sogontroff de frango da família Furlan</p>
  </span>

  <div class="row">
    <div class="col-md-6 coluna">
      <img style="width: 100%; border-radius: 10px;"
        src="assets/imgs/receitas/strogonoff-frango/strogonoff-frango02.png" alt="">
    </div>
    <div class="col-md-6 coluna">
      <span class="centro">
        <h1>Strogonoff de frango</h1>
      </span>

      <div class="detalhes-receita">
        <h2>Ingredientes</h2>
        <ul>
          <li>3 peitos de frango cortados em cubos</li>
          <li>1 dente de alho picado</li>
          <li>Sal e pimenta a gosto</li>
          <li>1 cebola picada</li>
          <li>3 peit2 colheres (sopa) de maionese</li>
          <li>1 colher de manteiga</li>
          <li>1/2 copo de ketchup</li>
          <li>1/3 copo de mostarda</li>
          <li>1 copo de creme de leite</li>
          <li>Batata palha a gosto</li>
        </ul>
      </div>
    </div>
  </div>
</section>
