<section class="secao">
  <div class="centro">
    <h1>Bem avaliados</h1>
  </div>

  <div class="row">
    <div class="col-md-4 coluna">
      <div class="card">
        <img src="assets/imgs/receitas/lasanha/lasanha01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Lasanha</h1>
            <span class="estrela"><i class="fas fa-star"></i>5.0</span>
          </div>
          <p class="card-text text-muted nowrap">
            Deliciosa lasanha da família Furlan
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 coluna">
      <div class="card">
        <img src="assets/imgs/receitas/mousse-chocolate/mousse-chocolate01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Mousse de Chocolate</h1>
            <span class="estrela"><i class="fas fa-star"></i>5.0</span>
          </div>
          <p class="card-text text-muted nowrap">
            Delicioso mousse de chocolate da família Furlan
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 coluna">
      <div class="card">
        <img src="assets/imgs/receitas/pizza-pepperoni/pizza-pepperoni01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="flex">
            <h1 class="card-title nowrap">Pizza de Pepperoni</h1>
            <span class="estrela"><i class="fas fa-star"></i>5.0</span>
          </div>
          <p class="card-text text-muted nowrap">
            Deliciosa pizza de pepperoni da família Furlan
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
