* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #c4c4c4;
  height: 100vh;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.conteudo {
  flex: 1;
}
