<section>
  <div class="mensagem">
    <h1>Bem-vindo ao OneChef!</h1>
  </div>

  <section class="secao">
    <div class="centro">
      <h1>Ver Receitas</h1>
    </div>
    <a routerLink="/receitas">
      <div class="row">
        <div class="col-md-6 coluna">
          <img src="assets/imgs/categorias/salgado.png" class="card-img-top" alt="...">
        </div>
        <div class="col-md-6 coluna">
          <img src="assets/imgs/categorias/doce.png" class="card-img-top" alt="...">
        </div>
      </div>
    </a>
  </section>

  <app-bem-avaliados></app-bem-avaliados>
</section>
