<div class="mensagem">
  <h1>Bem vindo ao OneChef!</h1>
</div>


<div class="categorias">
<h1 >Categorias</h1>
</div>

<div class="container center">
  <div class="row ">
    <div class="col-md ">
      <img src="./assets/imgs/salgado.png" class="rounded float-start" class="imagem1">
    </div>

    <div class="col-md">
      <img src="./assets/imgs/doce.png" class="rounded float-end" class="imagem1">
    </div>
  </div>
</div>

<div class="avaliados">
  <h1 >Bem avaliados</h1>
  </div>

  <div class="container center">
    <div class="row">
      <div class="col-md">
        <img src="./assets/imgs/Strogonoff-de-frango.png" class="rounded float-start" class="imagem2">
        <div class="strogonoff"><p>Strogonoff de frango</p>
        </div>
      </div>

      <div class="col-md">
        <img src="./assets/imgs/Petit-Gateau.png" class="rounded float-end" class="imagem2">
        <div class="lf"><p>Petit Gateau</p>
          </div>
      </div>
    </div>
  </div>
