<div class="container">
  <div class="mensagem">
    <h1>Bem vindo ao OneChef!</h1>
  </div>


  <div class="categorias">
    <h1>Categorias</h1>
  </div>


  <div class="row">
    <div class="col-md">
      <img src="assets/imgs/salgado.png" class="card-img-top" alt="...">
    </div>
    <div class="col-md">
      <img src="assets/imgs/doce.png" class="card-img-top" alt="...">
    </div>
  </div>

  <div class="avaliados">
    <h1>Bem avaliados</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <img src="assets/imgs/Strogonoff-de-frango.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Strogonoff de frango</h1>
        </div>
      </div>
      <div class="col-md">
        <img src="./assets/imgs/Petit-Gateau.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Petit Gateau</h1>
        </div>
      </div>
    </div>
  </div>
</div>
